java/javaprgs/javacode/naga/project/awt/aaa.xml

<! DOCTYPE REPORTS [
	<! ELEMENT REPORTS (TITLE,(SECTION)+)>
	<! ELEMENT SECTION (TITLE, %BODY;,SUBSECTION*)>
	<! ELEMENT SUBSECTION (TITLE, %BODY;,SUBSECTION*)>
	<!ELEMENT TITLE %TEXT;>
	<!ELEMENT PARA %TEXT;>
	<!ELEMENT LIST (ITEM)+>
	<!ELEMENT ITEM (%BLOCK;)>
	<!ELEMENT CODE (#PCDATA>
	<!ELEMENT KEYWORD (#PCDATA)>
	<!ELEMENT EXAMPLE (TITLE?,%BLOCK;)>

	<!ATTLIST CODE TYPE CDATA #IMPLIED>
	<!ENTITY XML "Extemnsible markup language">
	<!ENTITY sXML "standardExtemnsible markup language">
	<!ENTITY %TEXT "(#PCDATA|CODE|KEYWORD)*">
	<!ENTITY %BLOCK  "(PARA|LIST)+">
	<!ENTITY BODY "(%BLOCK|EXAMPLE)+">
]>
	







